
<ons-page id="main-page" ng-controller="MainController">
    <ons-tabbar var="mainTab">
        <ons-tab page="online_home.html" label="ទំព័រដើម" icon="tag" active="true" ng-click="onDiscoverTabClick();"></ons-tab>
        <ons-tab page="online_mv.html" label="ខារ៉ាអូខេ" icon="youtube-play" ng-if="isOnline"></ons-tab>
        <ons-tab page="online_music.html" label="ចម្រៀងខ្មែរ" icon="music" ng-if="isOnline"></ons-tab>
        <ons-tab page="online_library.html" label="ពិភពចម្រៀង" icon="book" ng-if="isOnline"></ons-tab>
        <ons-tab page="online_playlist.html" label="កំរងចម្រៀង" icon="folder-open-o" ng-if="isOnline"></ons-tab>
        
        <ons-tab page="offline_history.html" label="បានស្ដាប់" icon="history" ng-if="!isOnline"></ons-tab>
        <ons-tab page="offline_music.html" label="ចម្រៀងខ្មែរ" icon="music" ng-if="!isOnline"></ons-tab>
        <ons-tab page="offline_search.html" label="ស្វែងរក" icon="search" ng-if="!isOnline"></ons-tab>
        <ons-tab page="offline_playlist.html" label="កំរងចម្រៀង" icon="folder-open-o" ng-if="!isOnline"></ons-tab>
    </ons-tabbar>
    
    <audio media-player="player" id="player" data-playlist="music_playlists"></audio>

</ons-page>

